{{ define "main" }}
	<h1>Hello, I'm Jeremiah Succeed</h1>
	<p>
		I build web based software for merchants and business owners.
		
		<p>
		Since last year in college, I've been helping business owners and individul sellers collect payments on the internet.
	    </p>
		
		<p>
		My background is in Statistics, Christianity, and Stochastic reasoning. Most recently, I was at college for over 4 years (2014–2019), of which I bagged a degree in Statistics.
		</p>
		
		<p>
			I also write on digital payments, general web programming, and life. 
		</p>

		<p>
		Now, building <a href="https://paysharp.com.ng">Paysharp.com.ng</a>
	    </p>
	</p>

	<p>
	</p>

	<h2>Available for</h2>
	<p>
		Building web payment products.
	</p>

	<p>
	</p>

	<h2>Contact</h2>
	<p>
		<i class="fa fa-envelope"></i> <a href="mailto:jeremiahsucceed@gmail.com">jeremiahsucceed@gmail.com</a>
		<br>
		<i class="fa fa-phone"></i> +2348109677781
	</p>
{{ end }}

