<nav class="main-nav">
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ .Site.Params.home | default "Home" }}</a>
	{{ end }}

	{{ range .Site.Menus.main }}
 		<a href='{{ .URL }}'>{{ .Name }}</a>
  	{{ end }}
    <a href='/about'>About</a>
	<a href='/contact'>Contact</a>
	{{ if .Site.Params.enableRSS }}
		<a class="cta" href="{{ .Site.RSSLink }}">{{ .Site.Params.subscribe | default "Subscribe" }}</a>
	{{ end }}
</nav>
